.project-detail-section {
    padding: 40px 0;
    border-bottom: 1px solid #e1e1e1;
}

.project-detail-section h3 {
    margin-top: 0;
    font-size: 20px;
}

.project-detail-section .img-wrapper {
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
}

.project-detail-section .img-wrapper img {
    width: 100%;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
}

.project-detail-section p {
    white-space: pre-line;
    line-height: 1.5;
}

@media (max-width: 720px) {
    .project-detail-section .img-wrapper {
        display: flex;
        overflow-x: auto;
    }

    .project-detail-section .img-wrapper img {
        width: 75%;
    }
}