.home__title {
  text-align: center;
  font-family: "Outfit";
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  padding: 3rem 0;
}

.home__divider {
  width: 100%;
  height: 1px;
  background-color: #f5f5f5;
}

.home__divider--container {
  margin-bottom: 3rem;
}

.home__divider--profile {
  margin: 3rem 0;
}

.home__container {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  padding: 0 3rem;
  box-sizing: border-box;
  margin: 0 auto;
}

.home__left {
  width: 320px;
  margin-right: 4rem;
  box-sizing: border-box;
}

.home__photo-wrapper {
  width: 320px;
}

.home__photo {
  display: block;
  width: 320px;
  filter: brightness(1.05) contrast(1.02) saturate(0.925);
  box-shadow: var(--cloud-shadow);
}

.home__section {
  max-width: 1280px;
  margin: 0 auto 3rem;
  padding: 0 3rem;
  box-sizing: border-box;
}

.home__section-heading {
  font-family: "Outfit";
  font-size: 1.75rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.home__section-heading::after {
  content: "";
  flex-shrink: 0;
  height: 1px;
  background-color: #282828;
  width: 7.5rem;
}

.home__section-caption {
  font-size: 1rem;
  font-weight: 500;
  color: var(--souten-medium);
  margin-top: 0.25rem;
}

.home__right {
  flex: 1 0 0%;
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
}

.home__greeting {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 1.375rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  margin-bottom: 2rem;
  padding-left: 1rem;
}

.home__greeting::before {
  position: absolute;
  content: "";
  width: 0.2rem;
  height: 2.75rem;
  background: var(--souten-gradient);
  left: 0;
}

.home__description {
  font-size: 1rem;
  line-height: 2.25;
  letter-spacing: 0.05rem;
  font-weight: 500;
}

.home__button-wrapper {
  text-align: center;
  margin-top: 3rem;
  padding: 0 3rem;
}

.home__button-wrapper .custom-button svg {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%) translateX(0);
  transition: transform 0.3s ease;
}

.home__button-wrapper .custom-button:hover svg {
  transform: translateY(-50%) translateX(0.3rem);
}

.home__info-wrapper {
  background-color: #f5f5f5;
}

.home__info {
  font-family:
    "Outfit", "Hiragino", "ヒラギノ角ゴ ProN W3", "HiraKakuProN-W3", "ヒラギノ角ゴ Pro W3",
    "HiraKakuPro-W3", "Noto Sans JP", "Noto Sans KR", "sans-serif";
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1280px;
  box-sizing: border-box;
  padding: 2rem 0;
  margin: 0 auto;
}

.home__info-group {
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
  gap: 2rem;
  border-right: 1px solid #dbdbdb;
}

.home__info-group:last-child {
  border-right: none;
}

.home__info-item {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.home__info-label {
  font-weight: 700;
  letter-spacing: 0.025rem;
}

.home__info-value {
  font-weight: 500;
  letter-spacing: 0.025rem;
}

@media (max-width: 768px) {
  .home__container {
    flex-direction: column;
    gap: 1rem;
    padding: 0 1.5rem;
  }

  .home__left {
    width: 100%;
    max-width: 320px;
    height: auto;
    margin: 0 auto;
  }

  .home__photo-wrapper {
    width: 100%;
    max-width: 320px;
    height: auto;
  }

  .home__photo {
    width: 100%;
    max-width: 320px;
    height: auto;
  }

  .home__right {
    padding-top: 2rem;
  }

  .home__button-wrapper {
    padding: 0 1.5rem;
  }

  .home__section {
    padding: 0 1.5rem;
  }

  .home__section-heading::after {
    content: none;
  }

  .home__info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .home__info-group {
    padding: 0 1.5rem;
    border-right: none;
  }
}
