.HomeContent {
    display: flex;
    flex-direction: column;
    padding: 60px;
}

.HomeContent h2 {
    text-shadow: 1px 2px #e1e1e1;
}

.HomeContent .profile_picture_wrapper {
    border: 1px solid #ececec;
    box-shadow: rgba(100, 100, 100, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
}

.HomeContent .profile_picture_wrapper img {
    width: 100%;
}

@media (max-width: 720px) {
    .HomeContent {
        padding: 30px;
    }
}