.project-item {
    cursor: pointer;
    display: flex;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    padding: 20px;
    gap: 20px;
}

.project-item img {
    width: 100px;
}

.project-item .description-section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.project-item .description-section h3 {
    margin: 0;
    margin-bottom: 4px;
}

.project-item .description-section p {
    margin: 0;
    margin-bottom: 4px;
    font-size: 14px;
    white-space: pre-line;
    line-height: 1.5;
}

@media (max-width: 720px) {
    .project-item {
        flex-direction: column;
        align-items: center;
    }

    .project-item .description-section {
        align-items: center;
    }
}