.project-detail-title {
    padding-bottom: 20px;
    border-bottom: 1px solid #e1e1e1;
}

.project-detail-title h2 {
    margin-top: 0;
}

.project-detail-title .time-wrapper {
    font-weight: bold;
}

.project-detail-title ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 10px;
}

.project-detail-title .link-wrapper {
    font-weight: bold;
}

.project-detail-title li {
    border: 1px solid black;
    border-radius: 5px;
    padding: 4px;
}

.project-detail-title .link-wrapper {
    display: flex;
    gap: 40px;
}

.project-detail-title .link {
    cursor: pointer;
}

.project-detail-title .description-wrapper p {
    white-space: pre-line;
    line-height: 1.5;
}