.skill-item {
    display: flex;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    padding: 20px;
    gap: 20px;
}

.skill-item .icon-section {
    min-width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.skill-item .icon-section p {
    margin: 0;
    font-weight: bold;
}

.skill-item .description-section {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.skill-item .description-section ul {
    list-style: none;
    padding: 0;
}

.skill-item .description-section li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
}

.skill-item .description-section li::before {
    content: "";
    position: absolute;
    left: 0;
    width: 12px;
    height: 1px;
    background-color: black;
    top: 50%;
}

@media (max-width: 720px) {
    .skill-item {
        flex-direction: column;
    }

    .skill-item .description-section {
        justify-content: center;
    }
}
