.skills__title-section {
    text-align: center;
    margin-bottom: 3rem;
}

.skills__title {
    font-size: 2rem;
    margin: 0;
}

.skills__title-bar {
    width: 80px;
    height: 2px;
    background-color: #3baaf7;
    margin: 0.5rem auto 0;
}

.skills__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 1rem 3rem rgba(59, 170, 247, 0.2);
    backdrop-filter: blur(0.75rem);
    border-radius: 1rem;
}

@media (max-width: 720px) {
    .skills__list {
        grid-template-columns: 1fr;
        padding: 1rem;
    }
}
