.list-wrapper {
    display: flex;
    flex-direction: column;
    padding: 60px;
    gap: 20px;
}

.list-wrapper h2 {
    margin-top: 0;
}

@media (max-width: 720px) {
    .list-wrapper {
        padding: 30px;
    }

    .list-wrapper h2 {
        margin: 0 auto;
    }
}