.menu-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-bottom: 0.125rem solid transparent;
    transition: border-bottom 0.25s ease, opacity 0.25s ease;
}

.menu-text-item {
    height: 100%;
}

.menu-text-item:hover {
    border-bottom: 0.125rem solid rgba(59, 170, 247, 1);
}

.menu-icon-item:hover {
    opacity: 0.5;
}

@media (max-width: 720px) {
    .menu-item::before {
        width: 0;
    }
}
