.footer {
  font-family: "Outfit";
  border-top: 1px solid #f5f5f5;
  background: #fff;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 56px;
}

.footer__logo {
  display: flex;
  align-items: center;
  width: 189px;
  height: 100%;
  margin-left: 3rem;
  box-sizing: border-box;
}

.footer__logo img {
  width: 189px;
  display: block;
}

.footer__right {
  display: flex;
  gap: 1rem;
  font-size: 0.875rem;
  margin-right: 1.25rem;
}

@media (max-width: 768px) {
  .footer__container {
    height: 96px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.25rem;
  }

  .footer__logo {
    margin-left: 1.5rem;
    height: auto;
  }

  .footer__right {
    flex-direction: column;
    gap: 0rem;
    margin-left: 1.25rem;
    margin-right: 0;
  }
}
